@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div>
        <div id="monitor">
            @Html.Partial("Push")
        </div>
        <div id="chart">
            <img src='@Url.Action("GetChartImage")' />
        </div>
    </div>
</div>