@using System.Linq
@model Demo___TMP102Web.Models.TMP102

@if (Model.Readings.Count() > 0)
{ 
    <h2>Current TMP102 Reading: @Model.Readings.LastOrDefault().Reading</h2>
}
else
{
    <h2>No TMP102 Readings Available</h2>
}
